/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom. */
html {
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin. */
body {
  margin: 0; }

/* HTML5 display definitions
 * ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22. */
[hidden], template {
  display: none; }

/* Links
 * ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10. */
a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state. */
/* Text-level semantics
 * ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome. */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome. */
/**
 * Address styling not present in IE 8/9. */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers. */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
 * ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10. */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
 * ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari. */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers. */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers. */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
 * ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set. */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11. */
button {
  overflow: visible;
  text-transform: none; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox. */
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others. */
button, html input[type="button"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    box-sizing: content-box;
    /* 2 */ }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet. */
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10. */
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`. */
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome. */
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance). */
/**
 * Define consistent border, margin, and padding. */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11. */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup {
  font-weight: bold; }

/* Tables
 * ========================================================================== */
/**
 * Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

ul {
  margin: 0px;
  padding: 0px; }

p {
  margin: 0px; }

* {
  margin: 0;
  font-weight: normal; }

@font-face {
  font-family: 'Eesti R';
  src: url("../fonts/gt-eesti-pro-display-regular-webfont.eot");
  src: url("../fonts/gt-eesti-pro-display-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-eesti-pro-display-regular-webfont.woff2") format("woff2"), url("../fonts/gt-eesti-pro-display-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Eesti B';
  src: url("../fonts/gt-eesti-pro-display-bold-webfont.eot");
  src: url("../fonts/gt-eesti-pro-display-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-eesti-pro-display-bold-webfont.woff2") format("woff2"), url("../fonts/gt-eesti-pro-display-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Eesti UB';
  src: url("../fonts/gt-eesti-pro-display-ubold-webfont.eot");
  src: url("../fonts/gt-eesti-pro-display-ubold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-eesti-pro-display-ubold-webfont.woff2") format("woff2"), url("../fonts/gt-eesti-pro-display-ubold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?65853528");
  src: url("../fonts/fontello.eot?65853528#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?65853528") format("woff2"), url("../fonts/fontello.woff?65853528") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Eesti R', sans-serif; }

.navbar-brand {
  padding: 5px; }
  .navbar-brand img {
    height: 70%;
    margin-top: 6px; }

.btn-primary {
  color: #fff;
  background-color: #377a6c;
  border-color: #377a6c; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:visited {
    background-color: #5ac37d; }

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  background-color: #5ac37d; }

label {
  font-weight: normal; }

.has-error .form-control {
  border-color: #EB6437; }

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
  color: #EB6437; }

.navbar-default .navbar-nav > li > a {
  color: #777;
  display: inline-block; }

h1 {
  font-size: 1.4em; }

.wrapper {
  max-width: 95%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 20px;
  overflow: auto; }

form .variable-wrapper {
  width: auto; }

.variable-wrapper {
  overflow: auto;
  border-left: #cccccc 1px solid;
  padding: 0 25px 10px 15px;
  margin-top: 20px;
  float: left;
  width: 20%;
  text-align: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .variable-wrapper h3 {
    margin-top: 10px; }
  .variable-wrapper h6 {
    color: #cccccc; }
  .variable-wrapper a, .variable-wrapper input[type="submit"] {
    border: none;
    margin: 10px 5px 10px 0;
    padding: 5px 12px;
    line-height: 1.4em;
    color: #fff;
    text-decoration: none;
    outline: none;
    display: inline-block;
    transition: all 0.3s ease-in-out; }
  .variable-wrapper a {
    background-color: #377a6c; }
    .variable-wrapper a:hover {
      background-color: #5ac37d; }
  .variable-wrapper input[type="submit"] {
    background-color: #377a6c; }
    .variable-wrapper input[type="submit"]:hover {
      background-color: #5ac37d; }
  .variable-wrapper table {
    margin: 0; }
    .variable-wrapper table.no-border, .variable-wrapper table.no-border tr td {
      border: none; }
    .variable-wrapper table td.name {
      text-align: right;
      padding-right: 5px;
      min-width: 30px; }

h3 {
  font-size: 1.1em; }

table {
  margin: 30px auto;
  border: 1px solid #f8f8f8; }
  table tr {
    line-height: 25px; }
    table tr th {
      min-width: 40px;
      padding: 10px;
      font-family: 'azo_sansbold', sans-serif;
      border: 1px solid #f8f8f8;
      color: #444; }
    table tr td {
      padding: 5px 7px;
      text-align: left;
      border: 1px solid #f8f8f8;
      color: #444;
      word-wrap: break-word; }
      table tr td.email {
        max-width: 180px; }

#pagination {
  text-align: center; }
  #pagination ul.pagination li {
    margin: 2px;
    display: inline-block; }
    #pagination ul.pagination li a, #pagination ul.pagination li span {
      display: block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      background-color: #78dec8;
      transition: all 0.3s ease-in-out;
      color: #fff;
      text-decoration: none;
      padding: 0;
      border: none;
      border-radius: 0 !important; }
    #pagination ul.pagination li.active span {
      background-color: #78a0d4 !important;
      color: #fff; }
    #pagination ul.pagination li.disabled span {
      background-color: #f1f1f1; }
    #pagination ul.pagination li:hover a {
      background-color: #f5e150; }

.excel span {
  font-family: 'fontello', sans-serif;
  font-size: 1.4em;
  vertical-align: bottom;
  margin-right: 5px; }

.username {
  margin: 0 10px;
  color: #377a6c; }

.navbar-brand {
  margin-right: 40px; }

input {
  border: 1px #f1f1f1 solid; }

.error {
  border: 1px solid #EB6437; }

.error-msg {
  display: inline-block;
  opacity: 0;
  background-color: #EB6437;
  color: #fff;
  padding: 5px 10px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out; }
  .error-msg.show {
    display: inline-block !important;
    opacity: 1; }

/*# sourceMappingURL=admin.css.map */
