@keyframes uil-fortum-anim1 {
  0% {
    left: 0; }
  50% {
    left: 30px; }
  100% {
    left: 0; } }

@keyframes uil-fortum-anim2 {
  0% {
    left: 30px;
    z-index: 1; }
  49% {
    z-index: 1; }
  50% {
    left: 0;
    z-index: 10; }
  100% {
    left: 30px;
    z-index: 10; } }

.uil-fortum-css {
  left: 0;
  right: 0;
  margin: auto;
  top: -5px;
  background: none;
  position: relative;
  width: 60px;
  height: 30px; }
  .uil-fortum-css > div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute; }
  .uil-fortum-css > div:nth-of-type(1) {
    left: 0;
    background: #377a6c;
    z-index: 5;
    animation: uil-fortum-anim1 2s ease-in-out infinite; }
  .uil-fortum-css > div:nth-of-type(2) {
    left: 30px;
    background: #5ac37d;
    animation: uil-fortum-anim2 2s ease-in-out infinite; }

/*# sourceMappingURL=busy_anim.css.map */
