/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom. */
html {
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin. */
body {
  margin: 0; }

/* HTML5 display definitions
 * ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22. */
[hidden], template {
  display: none; }

/* Links
 * ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10. */
a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state. */
/* Text-level semantics
 * ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome. */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome. */
/**
 * Address styling not present in IE 8/9. */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers. */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
 * ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10. */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
 * ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari. */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers. */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers. */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
 * ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set. */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11. */
button {
  overflow: visible;
  text-transform: none; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox. */
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others. */
button, html input[type="button"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    box-sizing: content-box;
    /* 2 */ }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet. */
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10. */
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`. */
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome. */
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance). */
/**
 * Define consistent border, margin, and padding. */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11. */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup {
  font-weight: bold; }

/* Tables
 * ========================================================================== */
/**
 * Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

ul {
  margin: 0px;
  padding: 0px; }

p {
  margin: 0px; }

* {
  margin: 0;
  font-weight: normal; }

@font-face {
  font-family: 'Eesti R';
  src: url("../fonts/gt-eesti-pro-display-regular-webfont.eot");
  src: url("../fonts/gt-eesti-pro-display-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-eesti-pro-display-regular-webfont.woff2") format("woff2"), url("../fonts/gt-eesti-pro-display-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Eesti B';
  src: url("../fonts/gt-eesti-pro-display-bold-webfont.eot");
  src: url("../fonts/gt-eesti-pro-display-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-eesti-pro-display-bold-webfont.woff2") format("woff2"), url("../fonts/gt-eesti-pro-display-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Eesti UB';
  src: url("../fonts/gt-eesti-pro-display-ubold-webfont.eot");
  src: url("../fonts/gt-eesti-pro-display-ubold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-eesti-pro-display-ubold-webfont.woff2") format("woff2"), url("../fonts/gt-eesti-pro-display-ubold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?65853528");
  src: url("../fonts/fontello.eot?65853528#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?65853528") format("woff2"), url("../fonts/fontello.woff?65853528") format("woff");
  font-weight: normal;
  font-style: normal; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none; }

.btn:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74; }

.btn-primary:active {
  background-image: none; }

.collapse {
  display: none;
  visibility: hidden; }

.collapse.in {
  display: block;
  visibility: visible; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height, visibility; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

/*!
 * Datetimepicker for Bootstrap 3
 * ! version : 4.7.14
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */
.glyphicon.glyphicon-chevron-left {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 10px solid #377a6c;
  display: block; }

.glyphicon.glyphicon-chevron-right {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid #377a6c;
  display: block; }

.sr-only, .bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after, .bootstrap-datetimepicker-widget .btn[data-action="clear"]::after, .bootstrap-datetimepicker-widget .btn[data-action="today"]::after, .bootstrap-datetimepicker-widget .picker-switch::after, .bootstrap-datetimepicker-widget table th.prev::after, .bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.bootstrap-datetimepicker-widget {
  list-style: none; }
  .bootstrap-datetimepicker-widget.dropdown-menu {
    margin: 2px 0;
    padding: 4px;
    width: 19em; }
    @media (min-width: 320px) {
      .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em; } }
    @media (min-width: 600px) {
      .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em; } }
    @media (min-width: 1060px) {
      .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em; } }
    .bootstrap-datetimepicker-widget.dropdown-menu:before, .bootstrap-datetimepicker-widget.dropdown-menu:after {
      content: '';
      display: inline-block;
      position: absolute; }
    .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      top: -7px;
      left: 7px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid white;
      top: -6px;
      left: 8px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.top:before {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #ccc;
      border-top-color: rgba(0, 0, 0, 0.2);
      bottom: -7px;
      left: 6px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid white;
      bottom: -6px;
      left: 7px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
      left: auto;
      right: 6px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
      left: auto;
      right: 7px; }
  .bootstrap-datetimepicker-widget .list-unstyled {
    margin: 0; }
  .bootstrap-datetimepicker-widget a[data-action] {
    padding: 6px 0; }
  .bootstrap-datetimepicker-widget a[data-action]:active {
    box-shadow: none; }
  .bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
    width: 54px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0; }
  .bootstrap-datetimepicker-widget button[data-action] {
    padding: 6px; }
  .bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
    content: "Increment Hours"; }
  .bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
    content: "Increment Minutes"; }
  .bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
    content: "Decrement Hours"; }
  .bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
    content: "Decrement Minutes"; }
  .bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
    content: "Show Hours"; }
  .bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
    content: "Show Minutes"; }
  .bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
    content: "Toggle AM/PM"; }
  .bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
    content: "Clear the picker"; }
  .bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
    content: "Set the date to today"; }
  .bootstrap-datetimepicker-widget .picker-switch {
    text-align: center; }
    .bootstrap-datetimepicker-widget .picker-switch::after {
      content: "Toggle Date and Time Screens"; }
    .bootstrap-datetimepicker-widget .picker-switch td {
      padding: 0;
      margin: 0;
      height: auto;
      width: auto;
      line-height: inherit; }
      .bootstrap-datetimepicker-widget .picker-switch td span {
        line-height: 2.5;
        height: 2.5em;
        width: 100%; }
  .bootstrap-datetimepicker-widget table {
    width: 100%;
    margin: 0; }
    .bootstrap-datetimepicker-widget table td,
    .bootstrap-datetimepicker-widget table th {
      text-align: center;
      border-radius: 0; }
    .bootstrap-datetimepicker-widget table th {
      height: 20px;
      line-height: 20px;
      width: 20px; }
      .bootstrap-datetimepicker-widget table th.picker-switch {
        width: 145px; }
      .bootstrap-datetimepicker-widget table th.disabled, .bootstrap-datetimepicker-widget table th.disabled:hover {
        background: none;
        color: #a9a9a9;
        cursor: not-allowed; }
      .bootstrap-datetimepicker-widget table th.prev::after {
        content: "Previous Month"; }
      .bootstrap-datetimepicker-widget table th.next::after {
        content: "Next Month"; }
    .bootstrap-datetimepicker-widget table thead tr:first-child th {
      cursor: pointer; }
      .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
        background: #f8f8f8; }
    .bootstrap-datetimepicker-widget table td {
      height: 54px;
      line-height: 54px;
      width: 54px; }
      .bootstrap-datetimepicker-widget table td.cw {
        font-size: .8em;
        height: 20px;
        line-height: 20px;
        color: #a9a9a9; }
      .bootstrap-datetimepicker-widget table td.day {
        height: 20px;
        line-height: 20px;
        width: 20px; }
      .bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
        background: #f8f8f8;
        cursor: pointer; }
      .bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
        color: #a9a9a9; }
      .bootstrap-datetimepicker-widget table td.today {
        position: relative; }
        .bootstrap-datetimepicker-widget table td.today:before {
          content: '';
          display: inline-block;
          border: 1px solid transparent;
          border-bottom-color: #f1f1f1;
          border-top-color: rgba(0, 0, 0, 0.2);
          position: absolute;
          bottom: 4px;
          right: 4px; }
      .bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
        background-color: #f1f1f1;
        color: #377a6c;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
      .bootstrap-datetimepicker-widget table td.active.today:before {
        border-bottom-color: #fff; }
      .bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
        background: none;
        color: #a9a9a9;
        cursor: not-allowed; }
      .bootstrap-datetimepicker-widget table td span {
        display: inline-block;
        width: 54px;
        height: 54px;
        line-height: 54px;
        margin: 2px 1.5px;
        cursor: pointer;
        border-radius: 0; }
        .bootstrap-datetimepicker-widget table td span:hover {
          background: #f8f8f8; }
        .bootstrap-datetimepicker-widget table td span.active {
          background-color: #f1f1f1;
          color: #377a6c;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
        .bootstrap-datetimepicker-widget table td span.old {
          color: #a9a9a9; }
        .bootstrap-datetimepicker-widget table td span.disabled, .bootstrap-datetimepicker-widget table td span.disabled:hover {
          background: none;
          color: #a9a9a9;
          cursor: not-allowed; }
  .bootstrap-datetimepicker-widget.usetwentyfour td.hour {
    height: 27px;
    line-height: 27px; }

.input-group.date .input-group-addon {
  cursor: pointer; }

html {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; }
  html body {
    background-color: #fff;
    padding: 100px 75px 0;
    text-align: center;
    font-family: 'Eesti R', sans-serif;
    color: #377a6c;
    font-size: 18px;
    overflow-y: scroll; }
    html body #page-wrapper {
      background-image: url("../img/bg.jpg");
      background-position: top center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      transition: -webkit-filter .3s ease-in-out, filter .3s ease-in-out; }
      html body #page-wrapper.blur {
        -webkit-filter: blur(3px);
        filter: blur(3px);
        position: fixed;
        left: 75px;
        right: 75px;
        width: auto; }

img {
  max-width: 100%; }

.wrapper {
  margin: auto;
  width: 1060px; }
  .wrapper > * {
    margin: auto; }

.start-btn {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  background-image: url("../img/scroll-btn.png");
  background-color: #f5e150;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  cursor: pointer; }

#step2:hover,
#step3:hover {
  background-position: center 60%; }

#b1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f5e150;
  width: 80px;
  height: 80px; }

#b2 {
  position: absolute;
  top: 135px;
  left: 80px;
  background-color: #EB6437;
  width: 50px;
  height: 50px; }

#b3 {
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #EB6437;
  width: 50px;
  height: 50px; }

#b4 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f5e150;
  width: 120px;
  height: 80px; }

header.header {
  position: relative;
  width: 100%; }
  header.header .logo {
    background-color: #377a6c;
    padding: 23px 38px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -86px; }
  header.header .wrap {
    position: relative;
    width: 248px;
    height: 180px; }
    header.header .wrap h1 {
      position: absolute;
      left: 0;
      padding: 29px 37px;
      background-color: #5ac37d;
      color: #fff;
      font-family: 'Eesti UB', sans-serif;
      font-size: 2.35em;
      line-height: 1.3em;
      display: inline-block;
      text-align: left; }
  header.header .intro {
    position: absolute;
    bottom: -31px;
    right: 0;
    margin: auto;
    padding-top: 80px; }
    header.header .intro h2 {
      text-align: left;
      padding: 30px 53px;
      width: 460px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      font-size: 1.1em;
      margin: 0;
      background-color: #78a0d4;
      color: #fff;
      font-family: 'Eesti R', sans-serif; }
      header.header .intro h2 span {
        font-family: 'Eesti B', sans-serif; }
  header.header .start {
    position: relative;
    margin: 30% auto 0;
    cursor: pointer;
    width: 90px;
    height: 90px; }
    header.header .start .start-btn2 {
      background-color: #f5e150;
      margin: auto;
      width: 100%;
      height: 100%;
      background-image: url("../img/scroll-btn.png");
      background-position: center;
      background-repeat: no-repeat;
      transition: background-position .3s ease-in-out;
      -o-transition: background-position .3s ease-in-out;
      -moz-transition: background-position .3s ease-in-out;
      -webkit-transition: background-position .3s ease-in-out;
      cursor: pointer; }
    header.header .start:hover .start-btn2 {
      background-position: center 60%; }
    header.header .start h3 {
      position: absolute;
      right: 100%;
      width: 315px;
      height: 90px;
      line-height: 90px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.85);
      color: #5ac37d;
      font-family: 'Eesti UB', sans-serif;
      font-size: 1.7em; }

#form-fortum {
  margin-top: 110px; }
  #form-fortum input[type="radio"],
  #form-fortum input[type="checkbox"] {
    display: none; }
  #form-fortum input:active, #form-fortum input:focus, #form-fortum select:active, #form-fortum select:focus {
    outline: none;
    border: none; }
  #form-fortum .radio {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 6px;
    margin: 14px auto;
    padding: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    cursor: pointer; }
  #form-fortum input[type="radio"]:checked + .radio > div,
  #form-fortum input[type="checkbox"]:checked + .radio > div {
    background-color: #EB6437;
    border-radius: 6px;
    vertical-align: top !important;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out; }
  #form-fortum .icon {
    margin: 50px auto 15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out; }
  #form-fortum label:hover .icon {
    transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px); }
  #form-fortum .inputWrapper {
    transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out; }
    #form-fortum .inputWrapper label {
      float: left;
      line-height: 38px; }
      #form-fortum .inputWrapper label span {
        font-size: .8em; }
    #form-fortum .inputWrapper select, #form-fortum .inputWrapper input[type="text"], #form-fortum .inputWrapper textarea {
      float: right;
      width: 280px;
      color: #555555;
      font-size: .8em;
      border: 1px solid #fff;
      border-radius: 8px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      height: 36px;
      line-height: 36px;
      padding-left: 15px;
      transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out; }
    #form-fortum .inputWrapper textarea {
      resize: none;
      height: auto;
      line-height: 1em;
      padding-top: 10px; }
  #form-fortum #wrapper-calc-type {
    width: 97%;
    background-color: rgba(230, 233, 235, 0.8); }
    #form-fortum #wrapper-calc-type > div {
      width: 40%;
      display: inline-block;
      padding-bottom: 30px; }
      #form-fortum #wrapper-calc-type > div label {
        text-align: center;
        cursor: pointer; }
        #form-fortum #wrapper-calc-type > div label .icon {
          width: 45px;
          height: 45px; }
        #form-fortum #wrapper-calc-type > div label .fv {
          background-image: url("../img/icon-fv.png"); }
        #form-fortum #wrapper-calc-type > div label .no-fv {
          background-image: url("../img/icon-no-fv.png"); }
  #form-fortum #wrapper-product {
    position: relative;
    width: 100%;
    background-color: #5ac37d;
    text-align: center;
    padding-top: 50px; }
    #form-fortum #wrapper-product h4 {
      position: absolute;
      color: #fff;
      background-color: #377a6c;
      height: 50px;
      line-height: 50px;
      font-size: 1.1em;
      font-family: 'Eesti B', sans-serif;
      top: 0;
      right: 0;
      left: 0; }
    #form-fortum #wrapper-product > div {
      display: inline-block;
      width: 25%;
      padding-bottom: 34px; }
      #form-fortum #wrapper-product > div label {
        font-family: 'Eesti B', sans-serif;
        color: #fff;
        cursor: pointer; }
        #form-fortum #wrapper-product > div label .icon {
          height: 54px; }
        #form-fortum #wrapper-product > div label .e {
          background-image: url("../img/icon-energy.png");
          width: 30px; }
        #form-fortum #wrapper-product > div label .g {
          width: 45px;
          background-image: url("../img/icon-gas.png"); }
        #form-fortum #wrapper-product > div label .eg {
          width: 89px;
          background-image: url("../img/icon-energy-gas.png"); }
  #form-fortum #wrapper-vendor {
    width: 97%;
    position: relative;
    background-color: #f1f1f1;
    padding: 60px 42px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    max-height: 300px; }
    #form-fortum #wrapper-vendor #wrapper-vendor-e {
      height: 38px; }
    #form-fortum #wrapper-vendor.collapsed {
      max-height: 210px; }
    #form-fortum #wrapper-vendor.trans #wrapper-vendor-e {
      transform: translate(0, 64px);
      -ms-transform: translate(0, 64px);
      -moz-transform: translate(0, 64px);
      -webkit-transform: translate(0, 64px); }
      #form-fortum #wrapper-vendor.trans #wrapper-vendor-e label {
        line-height: 18px;
        text-align: left; }
        #form-fortum #wrapper-vendor.trans #wrapper-vendor-e label span {
          display: inline; }
    #form-fortum #wrapper-vendor.trans #wrapper-vendor-g {
      transform: translate(0, -64px);
      -ms-transform: translate(0, -64px);
      -moz-transform: translate(0, -64px);
      -webkit-transform: translate(0, -64px); }
    #form-fortum #wrapper-vendor .inputWrapper {
      margin: 24px 0; }
      #form-fortum #wrapper-vendor .inputWrapper label span {
        display: none; }
      #form-fortum #wrapper-vendor .inputWrapper:after {
        content: "";
        display: block;
        clear: both; }
  #form-fortum .group {
    position: relative;
    margin-top: 112px;
    width: 97%;
    background-color: #f1f1f1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out; }
    #form-fortum .group h4 {
      background-color: #377a6c;
      color: #fff;
      font-size: 1.2em;
      font-family: 'Eesti R', sans-serif;
      margin: 0 -2px 45px;
      height: 64px;
      line-height: 64px; }
      #form-fortum .group h4 span {
        font-family: 'Eesti B', sans-serif; }
    #form-fortum .group .inputWrapper {
      margin: 11px 0;
      padding: 0 42px; }
      #form-fortum .group .inputWrapper:after {
        content: "";
        display: block;
        clear: both; }
    #form-fortum .group .calc-output-wrapper {
      font-family: 'Eesti B', sans-serif;
      margin-top: 36px;
      margin-bottom: 36px; }
      #form-fortum .group .calc-output-wrapper input {
        font-size: 1.1em;
        border: none;
        background: none;
        text-align: center;
        color: #5ac37d; }
    #form-fortum .group .calc-savings-wrapper {
      background-color: #f8f8f8;
      height: 57px;
      font-family: 'Eesti B', sans-serif; }
      #form-fortum .group .calc-savings-wrapper label {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
        font-size: 1.2em;
        color: #fff;
        float: left;
        width: 400px;
        height: 100%;
        line-height: 57px;
        text-align: left;
        padding: 0 80px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; }
      #form-fortum .group .calc-savings-wrapper span {
        color: #a9a9a9;
        line-height: 57px;
        height: 100%;
        font-family: 'Eesti R', sans-serif; }
      #form-fortum .group .calc-savings-wrapper input {
        font-size: 1.2em;
        border: none;
        background: none;
        text-align: center;
        line-height: 57px;
        height: 100%;
        float: right;
        margin-right: 90px;
        width: 150px; }
  #form-fortum #wrapper-e {
    background-image: url("../img/bg-energy.png"); }
    #form-fortum #wrapper-e .calc-savings-wrapper label {
      background-color: #5ac37d; }
    #form-fortum #wrapper-e .calc-savings-wrapper input {
      color: #5ac37d; }
  #form-fortum #wrapper-g {
    background-image: url("../img/bg-gas.png"); }
    #form-fortum #wrapper-g .calc-savings-wrapper label {
      background-color: #78a0d4; }
    #form-fortum #wrapper-g .calc-savings-wrapper input {
      color: #78a0d4; }
  #form-fortum #wrapper-b {
    background-image: url("../img/bg-led.png"); }
    #form-fortum #wrapper-b .calc-output-wrapper {
      margin: 11px 0; }
      #form-fortum #wrapper-b .calc-output-wrapper.first {
        margin-top: 36px; }
      #form-fortum #wrapper-b .calc-output-wrapper.last {
        margin-bottom: 36px; }
    #form-fortum #wrapper-b .calc-savings-wrapper label {
      background-color: #78dec8; }
    #form-fortum #wrapper-b .calc-savings-wrapper input {
      color: #78dec8; }
    #form-fortum #wrapper-b .withspan {
      line-height: 19px;
      text-align: left; }
  #form-fortum #wrapper-summary .calc-savings-wrapper label {
    background-color: #5ac37d;
    background-image: url("../img/logo-fortum.png");
    background-size: 30%;
    background-position: 27% center;
    padding: 0 13px;
    font-family: 'Eesti B', sans-serif; }
    #form-fortum #wrapper-summary .calc-savings-wrapper label span {
      color: #fff;
      font-size: 1em;
      font-family: 'Eesti B', sans-serif; }
  #form-fortum #wrapper-summary .calc-savings-wrapper span {
    font-family: 'Eesti B', sans-serif; }
  #form-fortum #wrapper-summary .calc-savings-wrapper span span {
    color: #5ac37d;
    font-size: 1em;
    font-family: 'Eesti B', sans-serif; }
  #form-fortum #wrapper-summary .calc-savings-wrapper input {
    color: #5ac37d; }
  #form-fortum h6 {
    margin: 116px auto 35px;
    font-size: 1em; }
  #form-fortum #wrapper-contact-data {
    position: relative;
    z-index: 10;
    background-color: #377a6c;
    padding: 24px 0;
    text-align: center; }
    #form-fortum #wrapper-contact-data input {
      margin: 12px 16px;
      width: 362px;
      color: #555;
      font-size: .8em;
      border: none;
      border-radius: 8px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      height: 36px;
      line-height: 36px;
      padding-left: 15px;
      transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out; }
    #form-fortum #wrapper-contact-data:after {
      content: "";
      display: block;
      clear: both; }
  #form-fortum #wrapper-agree {
    width: 97%;
    background-color: #f1f1f1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-repeat: no-repeat;
    font-size: .8em;
    font-family: 'Eesti R', sans-serif;
    padding-top: 32px;
    padding-bottom: 100px;
    position: relative; }
    #form-fortum #wrapper-agree > div {
      width: 90%;
      max-width: 754px;
      margin: auto;
      text-align: left;
      position: relative; }
      #form-fortum #wrapper-agree > div label .radio {
        vertical-align: middle;
        margin: 10px 7px 10px 0;
        width: 18px;
        height: 18px;
        padding: 3px; }
      #form-fortum #wrapper-agree > div label input[type="radio"]:checked + .radio > div,
      #form-fortum #wrapper-agree > div label input[type="checkbox"]:checked + .radio > div {
        border-radius: 4px; }
      #form-fortum #wrapper-agree > div label div {
        display: inline-block;
        vertical-align: baseline; }
      #form-fortum #wrapper-agree > div p {
        transition: all .6s ease-in-out;
        -o-transition: all .6s ease-in-out;
        -moz-transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
        max-height: 0;
        overflow: hidden;
        text-align: justify;
        margin-left: 36px; }
      #form-fortum #wrapper-agree > div .toggleBtn {
        color: #5ac37d;
        position: absolute;
        overflow: hidden;
        height: 19px;
        right: 0;
        top: 12px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        border-bottom: 1px solid transparent; }
        #form-fortum #wrapper-agree > div .toggleBtn:hover {
          border-bottom: 1px solid #5ac37d; }
        #form-fortum #wrapper-agree > div .toggleBtn div {
          transition: all .6s ease-in-out;
          -o-transition: all .6s ease-in-out;
          -moz-transition: all .6s ease-in-out;
          -webkit-transition: all .6s ease-in-out; }
      #form-fortum #wrapper-agree > div.opened .toggleBtn div {
        transform: translate(0, -19px);
        -ms-transform: translate(0, -19px);
        -moz-transform: translate(0, -19px);
        -webkit-transform: translate(0, -19px); }
      #form-fortum #wrapper-agree > div.opened p {
        max-height: 200px;
        margin-bottom: 20px; }
    #form-fortum #wrapper-agree .inputWrapper.agent, #form-fortum #wrapper-agree .inputWrapper.uwagi {
      text-align: center;
      padding-top: 10px !important;
      padding-bottom: 15px !important; }
      #form-fortum #wrapper-agree .inputWrapper.agent input, #form-fortum #wrapper-agree .inputWrapper.agent textarea, #form-fortum #wrapper-agree .inputWrapper.uwagi input, #form-fortum #wrapper-agree .inputWrapper.uwagi textarea {
        float: none;
        width: 420px;
        font-size: 1em;
        font-family: 'azo_sansmedium', sans-serif; }
    #form-fortum #wrapper-agree #info-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 1em;
      bottom: 85px;
      font-family: 'azo_sansregular', sans-serif;
      text-align: center; }
      #form-fortum #wrapper-agree #info-wrapper > div {
        position: absolute;
        left: 0;
        right: 0;
        opacity: 0;
        transition: all .6s ease-in-out;
        -o-transition: all .6s ease-in-out;
        -moz-transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out; }
        #form-fortum #wrapper-agree #info-wrapper > div.show {
          opacity: 1; }
      #form-fortum #wrapper-agree #info-wrapper .success {
        color: #377a6c;
        border: none; }
      #form-fortum #wrapper-agree #info-wrapper .error {
        color: #EB6437;
        border: none; }
    #form-fortum #wrapper-agree #send-form {
      position: absolute;
      border-radius: 0;
      margin: auto;
      left: 0;
      right: 0;
      width: 262px;
      height: 72px;
      background-color: #EB6437;
      color: #fff;
      border: none;
      font-family: 'Eesti B', sans-serif;
      font-size: 1.55em;
      text-transform: uppercase;
      bottom: -36px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      cursor: pointer;
      transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out; }
      #form-fortum #wrapper-agree #send-form:hover {
        background-color: #F08B69; }

#response-modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.4); }
  #response-modal-wrapper.status200 .modal .success {
    display: block; }
  #response-modal-wrapper.status200 .modal .error {
    display: none; }
  #response-modal-wrapper.status500 .modal .success {
    display: none; }
  #response-modal-wrapper.status500 .modal .error {
    display: block; }
  #response-modal-wrapper .modal {
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 30px #aaa;
    -moz-box-shadow: 0 0 30px #aaa;
    -webkit-box-shadow: 0 0 30px #aaa;
    background-color: #fff;
    text-align: center;
    width: 90%;
    max-width: 615px;
    height: 310px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -155px auto 0; }
    #response-modal-wrapper .modal .error {
      color: #EB6437; }
    #response-modal-wrapper .modal img {
      width: 156px; }
    #response-modal-wrapper .modal h4 {
      font-weight: 600;
      margin: 30px 0; }
    #response-modal-wrapper .modal p {
      margin: 30px 0;
      color: #5ac37d; }
    #response-modal-wrapper .modal button {
      outline: none;
      border-radius: 0;
      width: 130px;
      height: 50px;
      background-color: #EB6437;
      color: #fff;
      border: none;
      font-family: 'Eesti B', sans-serif;
      font-size: .9em;
      text-transform: uppercase;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      cursor: pointer;
      transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out; }
      #response-modal-wrapper .modal button:hover {
        background-color: #F08B69; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

.hide2 {
  opacity: 0; }

.invoice {
  position: relative; }

#error-list {
  list-style: none;
  margin: 0 auto 25px;
  padding: 10px 0;
  width: 97%;
  border: 2px #EB6437 dashed;
  background-color: rgba(230, 233, 235, 0.75); }
  #error-list li {
    color: #EB6437;
    font-size: .8em;
    font-family: 'Eesti R', sans-serif;
    margin: 5px; }

.userInput.error {
  line-height: 35px;
  border: 1px solid #EB6437 !important; }

input[type="checkbox"].error + .radio {
  border: 1px solid #EB6437 !important;
  padding: 3px; }

input[type="checkbox"]:checked.error + .radio {
  border: 1px solid #a9a9a9 !important;
  padding: 4px; }

footer {
  font-family: 'azo_sansregular', sans-serif;
  font-size: .8em;
  color: #958d94;
  margin: 150px auto 40px;
  max-width: 95%; }

#scroll {
  cursor: pointer; }

.d {
  display: inline-block; }

.t {
  display: none; }

.m {
  display: none; }

.no-d {
  display: inline-block; }

/*# sourceMappingURL=main.css.map */
