@media screen and (max-width: 1280px) {
  html body {
    padding: 100px 30px 0; } }

@media screen and (max-width: 1080px) {
  .wrapper {
    width: 90%; }
  #form-fortum #wrapper-vendor-e label {
    max-width: 310px; }
  #form-fortum .group {
    margin-top: 70px; }
    #form-fortum .group .calc-savings-wrapper {
      height: 45px; }
      #form-fortum .group .calc-savings-wrapper label {
        width: 350px;
        height: 100%;
        line-height: 45px;
        padding: 0 40px; }
      #form-fortum .group .calc-savings-wrapper span {
        line-height: 45px;
        font-size: .8em; }
      #form-fortum .group .calc-savings-wrapper input {
        margin-right: 30px; }
  #form-fortum #wrapper-summary .calc-savings-wrapper label {
    background-position: 50% center; }
  #form-fortum h6 {
    margin-top: 70px; }
  .d {
    display: none; }
  .t {
    display: inline-block; }
  .no-d {
    display: none; } }

@media screen and (max-width: 1100px) {
  header.header .intro {
    position: relative;
    bottom: 0;
    display: block;
    margin: 21% 0 0 30%;
    width: 460px; }
  header.header .start {
    width: 405px;
    margin: 0 0 0 30%; }
    header.header .start .start-btn2 {
      margin: auto;
      width: 90px;
      margin-left: 315px; }
    header.header .start h3 {
      left: 0;
      background-color: #5ac37d;
      color: #fff; }
  #form-fortum {
    margin-top: 50px; } }

@media screen and (max-width: 800px) {
  html body {
    font-size: 16px;
    padding: 100px 15px 0; }
  header.header .logo {
    margin: 0 auto 290px; }
  header.header .intro {
    padding-top: 0;
    margin-left: 10%; }
  header.header .start {
    margin-left: 10%; }
  header.header #b3, header.header #b4 {
    display: none; }
  #form-fortum {
    margin-top: 20px; }
    #form-fortum .inputWrapper select,
    #form-fortum .inputWrapper input[type="text"] {
      width: 200px; }
    #form-fortum #wrapper-vendor {
      padding: 20px 30px; }
      #form-fortum #wrapper-vendor.collapsed {
        max-height: 130px; }
      #form-fortum #wrapper-vendor.trans #wrapper-vendor-e label {
        max-width: 245px; }
    #form-fortum .group .inputWrapper {
      padding: 0 20px; }
    #form-fortum .group .calc-savings-wrapper > span {
      display: none; }
    #form-fortum .group .calc-savings-wrapper input {
      width: 120px;
      margin-right: 15px; }
    #form-fortum #wrapper-agree > div .title {
      width: calc(100% - 110px);
      vertical-align: middle; }
    #form-fortum #wrapper-agree > div .toggleBtn {
      top: 14px; }
      #form-fortum #wrapper-agree > div .toggleBtn div span {
        display: none; }
  #step2,
  #step3 {
    display: none; }
  footer {
    padding: 60px 0 30px;
    margin: 0 auto; } }

@media screen and (max-width: 600px) {
  html body {
    font-size: 14px;
    padding-top: 80px; }
  header.header .logo {
    margin: 0 auto 250px;
    width: 130px;
    padding: 15px 30px;
    top: -60px; }
  header.header .wrap {
    width: 190px; }
    header.header .wrap h1 {
      padding: 15px 40px;
      font-size: 2em; }
  header.header .intro {
    width: 80%; }
    header.header .intro h2 {
      padding: 20px;
      width: 100%; }
  header.header .start {
    height: 60px;
    width: 280px; }
    header.header .start h3 {
      width: 220px;
      line-height: 60px;
      height: 60px;
      font-size: 1.5em; }
    header.header .start .start-btn2 {
      width: 60px;
      margin-left: 220px; }
  header.header #b1, header.header #b2 {
    display: none; }
  #form-fortum #wrapper-product > div {
    width: 30%; }
  #form-fortum #wrapper-vendor {
    padding: 1px 0 20px; }
    #form-fortum #wrapper-vendor .inputWrapper {
      width: 90%;
      margin: 24px auto; }
      #form-fortum #wrapper-vendor .inputWrapper > * {
        text-align: center;
        display: block;
        float: none;
        margin: auto; }
    #form-fortum #wrapper-vendor #wrapper-vendor-e {
      height: auto; }
    #form-fortum #wrapper-vendor.collapsed {
      max-height: 140px; }
    #form-fortum #wrapper-vendor.trans #wrapper-vendor-e {
      transform: translate(0, 100px);
      -ms-transform: translate(0, 100px);
      -moz-transform: translate(0, 100px);
      -webkit-transform: translate(0, 100px); }
      #form-fortum #wrapper-vendor.trans #wrapper-vendor-e label {
        text-align: center;
        max-width: none; }
    #form-fortum #wrapper-vendor.trans #wrapper-vendor-g {
      transform: translate(0, -100px);
      -ms-transform: translate(0, -100px);
      -moz-transform: translate(0, -100px);
      -webkit-transform: translate(0, -100px); }
  #form-fortum .group .calc-savings-wrapper label {
    padding: 0 20px;
    width: 260px; }
  #form-fortum #wrapper-agree > div .toggleBtn {
    height: 14px; }
  #form-fortum #wrapper-agree > div.opened .toggleBtn div {
    transform: translate(0, -14px);
    -ms-transform: translate(0, -14px);
    -moz-transform: translate(0, -14px);
    -webkit-transform: translate(0, -14px); }
  #form-fortum #wrapper-agree .inputWrapper.agent input, #form-fortum #wrapper-agree .inputWrapper.agent textarea, #form-fortum #wrapper-agree .inputWrapper.uwagi input, #form-fortum #wrapper-agree .inputWrapper.uwagi textarea {
    width: 100%; }
  .t {
    display: none; }
  .m {
    display: block; }
  .no-m {
    display: none; } }

@media screen and (max-width: 480px) {
  header.header .logo {
    left: 0;
    right: initial; }
  header.header .wrap {
    padding-top: 146px;
    height: 102px;
    width: 248px;
    margin-right: 0; }
    header.header .wrap h1 {
      width: 100%;
      box-sizing: border-box; }
  header.header .intro {
    margin-top: 0; }
  #form-fortum {
    margin-top: 50px; }
    #form-fortum .inputWrapper {
      width: 90%;
      margin-left: auto !important;
      margin-right: auto !important;
      padding: 0 !important; }
      #form-fortum .inputWrapper > label,
      #form-fortum .inputWrapper > select,
      #form-fortum .inputWrapper > input[type="text"] {
        display: block;
        float: none;
        margin: auto; }
    #form-fortum .icon {
      margin: 20px auto 15px; }
    #form-fortum #wrapper-calc-type > div {
      width: 45%;
      padding-bottom: 10px;
      vertical-align: top; }
      #form-fortum #wrapper-calc-type > div label span {
        min-height: 60px;
        display: inline-block; }
    #form-fortum #wrapper-product > div {
      padding-bottom: 10px; }
      #form-fortum #wrapper-product > div label .icon {
        width: 50%; }
        #form-fortum #wrapper-product > div label .icon.eg {
          width: 90%; }
    #form-fortum .group, #form-fortum #wrapper-summary {
      margin-top: 40px; }
      #form-fortum .group h4, #form-fortum #wrapper-summary h4 {
        margin-bottom: 10px; }
      #form-fortum .group .calc-savings-wrapper, #form-fortum #wrapper-summary .calc-savings-wrapper {
        position: relative; }
        #form-fortum .group .calc-savings-wrapper label, #form-fortum #wrapper-summary .calc-savings-wrapper label {
          padding: 0 8px;
          width: 200px; }
        #form-fortum .group .calc-savings-wrapper input, #form-fortum #wrapper-summary .calc-savings-wrapper input {
          position: absolute;
          right: 0;
          text-align: right; }
    #form-fortum #wrapper-b .withspan {
      text-align: center; }
    #form-fortum #wrapper-summary .calc-savings-wrapper label {
      padding: 0 8px;
      width: 200px; }
    #form-fortum #wrapper-contact-data input {
      margin: 12px auto;
      width: 90%; }
    #form-fortum #wrapper-agree #send-form {
      width: 220px; } }

@media screen and (max-width: 380px) {
  html body #page-wrapper .intro {
    margin-left: 0;
    width: 90%; }
  html body #page-wrapper .start {
    width: 240px;
    margin-left: 0; }
    html body #page-wrapper .start h3 {
      width: 180px;
      font-size: 1.3em; }
    html body #page-wrapper .start .start-btn2 {
      margin-left: 180px; }
  html body #form-fortum .group .calc-savings-wrapper label, html body #form-fortum #wrapper-summary .calc-savings-wrapper label {
    padding: 0 8px;
    width: 150px;
    background-image: none; } }

/*# sourceMappingURL=media.css.map */
