$white: #fff;
$black: #555555;
$green1: #377a6c;
$green2: #5ac37d;
$green3: #78dec8;
$red: #EB6437;
$red-h: #F08B69;
$yellow: #f5e150;
$yellow-h: #F8E97C;
$blue: #78a0d4;
$gray: #f1f1f1;
$gray2: #a9a9a9;
$gray-bg: #f8f8f8;