@font-face {
  font-family: 'Eesti R';
  src: url('../fonts/gt-eesti-pro-display-regular-webfont.eot');
  src: url('../fonts/gt-eesti-pro-display-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gt-eesti-pro-display-regular-webfont.woff2') format('woff2'),
  url('../fonts/gt-eesti-pro-display-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eesti B';
  src: url('../fonts/gt-eesti-pro-display-bold-webfont.eot');
  src: url('../fonts/gt-eesti-pro-display-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gt-eesti-pro-display-bold-webfont.woff2') format('woff2'),
  url('../fonts/gt-eesti-pro-display-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eesti UB';
  src: url('../fonts/gt-eesti-pro-display-ubold-webfont.eot');
  src: url('../fonts/gt-eesti-pro-display-ubold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gt-eesti-pro-display-ubold-webfont.woff2') format('woff2'),
  url('../fonts/gt-eesti-pro-display-ubold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?65853528');
  src: url('../fonts/fontello.eot?65853528#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff2?65853528') format('woff2'),
  url('../fonts/fontello.woff?65853528') format('woff');
  font-weight: normal;
  font-style: normal;
}