$t: 64px;

html {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: $white;

  body {
    background-color: $white;
    padding: 100px 75px 0;
    text-align: center;
    font-family: 'Eesti R', sans-serif;
    color: $green1;
    font-size: 18px;
    overflow-y: scroll;

    #page-wrapper {
      background-image: url('../img/bg.jpg');
      background-position: top center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      -webkit-transition: filter .3s ease-in-out;
      -moz-transition: filter .3s ease-in-out;
      -ms-transition: filter .3s ease-in-out;
      -o-transition: filter .3s ease-in-out;
      transition: filter .3s ease-in-out;

      &.blur {
        filter: blur(3px);
        position: fixed;
        left: 75px;
        right: 75px;
        width: auto;
      }
    }
  }
}

img {
  max-width: 100%;
}

.wrapper {
  margin: auto;
  width: 1060px;

  & > * {
    margin: auto;
  }
}

.start-btn {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  background-image: url('../img/scroll-btn.png');
  background-color: $yellow;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  cursor: pointer;
}

#step2:hover,
#step3:hover {
  background-position: center 60%;
}

#b1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $yellow;
  width: 80px;
  height: 80px;
}
#b2 {
  position: absolute;
  top: 135px;
  left: 80px;
  background-color: $red;
  width: 50px;
  height: 50px;
}
#b3 {
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  margin: auto;
  background-color: $red;
  width: 50px;
  height: 50px;
}
#b4 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $yellow;
  width: 120px;
  height: 80px;
}


header.header {
  position: relative;
  width: 100%;

  .logo {
    background-color: $green1;
    padding: 23px 38px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -86px;
  }
  .wrap {
    position: relative;
    width: 248px;
    height: 180px;

    h1 {
      position: absolute;
      left:0;
      padding: 29px 37px;
      background-color: #5ac37d;
      color: #fff;
      font-family: 'Eesti UB', sans-serif;
      font-size: 2.35em;
      line-height: 1.3em;
      display: inline-block;
      text-align: left;
    }
  }

  .intro {
    position: absolute;
    bottom: -31px;
    right: 0;
    margin: auto;
    padding-top: 80px;

    h2 {
      text-align: left;
      padding: 30px 53px;
      width: 460px;
      @include box-sizing(border-box);
      font-size: 1.1em;
      margin: 0;
      background-color: $blue;
      color: $white;
      font-family: 'Eesti R', sans-serif;

      span {
        font-family: 'Eesti B', sans-serif;
      }
    }
  }

  .start {
    position: relative;
    margin: 30% auto 0;
    cursor: pointer;
    width: 90px;
    height: 90px;

    .start-btn2 {
      background-color: $yellow;
      margin: auto;
      width: 100%;
      height: 100%;
      background-image: url('../img/scroll-btn.png');
      background-position: center;
      background-repeat: no-repeat;
      transition: background-position .3s ease-in-out;
      -o-transition: background-position .3s ease-in-out;
      -moz-transition: background-position .3s ease-in-out;
      -webkit-transition: background-position .3s ease-in-out;
      cursor: pointer;
    }

    &:hover .start-btn2 {
      background-position: center 60%;
    }

    h3 {
      position: absolute;
      right: 100%;
      width: 315px;
      height: 90px;
      line-height: 90px;
      text-align: center;
      background-color: rgba(255, 255, 255, .85);
      color: $green2;
      font-family: 'Eesti UB', sans-serif;
      font-size: 1.7em;
    }
  }
}

#form-fortum {
  margin-top: 110px;

  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }

  input, select {
    &:active,
    &:focus {
      outline: none;
      border: none;
    }
  }

  .radio {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 6px;
    margin: 14px auto;
    padding: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    cursor: pointer;
  }

  input[type="radio"]:checked + .radio > div,
  input[type="checkbox"]:checked + .radio > div {
    background-color: $red;
    border-radius: 6px;
    vertical-align: top !important;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
  }

  .icon {
    margin: 50px auto 15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
  }

  label:hover .icon {
    transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
  }

  .inputWrapper {
    transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;

    label {
      float: left;
      line-height: 38px;

      span {
        font-size: .8em;
      }
    }

    select, input[type="text"], textarea {
      float: right;
      width: 280px;
      color: $black;
      font-size: .8em;
      border: 1px solid $white;
      border-radius: 8px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      height: 36px;
      line-height: 36px;
      padding-left: 15px;
      transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
    }

    textarea {
      resize: none;
      height: auto;
      line-height: 1em;
      padding-top: 10px;
    }
  }

  #wrapper-calc-type {
    width: 97%;
    background-color: rgba(230, 233, 235, .8);

    & > div {
      width: 40%;
      display: inline-block;
      padding-bottom: 30px;

      label {
        text-align: center;
        cursor: pointer;
        .icon {
          width: 45px;
          height: 45px;
        }

        .fv {
          background-image: url('../img/icon-fv.png');
        }
        .no-fv {
          background-image: url('../img/icon-no-fv.png');
        }
      }
    }
  }

  #wrapper-product {
    position: relative;
    width: 100%;
    background-color: $green2;
    text-align: center;
    padding-top: 50px;

    h4 {
      position: absolute;
      color: $white;
      background-color: $green1;
      height: 50px;
      line-height: 50px;
      font-size: 1.1em;
      font-family: 'Eesti B', sans-serif;
      top: 0;
      right: 0;
      left: 0;
    }

    & > div {
      display: inline-block;
      width: 25%;
      padding-bottom: 34px;

      label {
        font-family: 'Eesti B', sans-serif;
        color: $white;
        cursor: pointer;

        .icon {
          height: 54px;
        }

        .e {
          background-image: url('../img/icon-energy.png');
          width: 30px;
        }
        .g {
          width: 45px;
          background-image: url('../img/icon-gas.png');
        }
        .eg {
          width: 89px;
          background-image: url('../img/icon-energy-gas.png');
        }
      }
    }
  }

  #wrapper-vendor {
    width: 97%;
    position: relative;
    background-color: $gray;
    padding: 60px 42px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    max-height: 300px;

    #wrapper-vendor-e {
      height: 38px;
    }

    &.collapsed {
      max-height: 210px;
    }

    &.trans {
      #wrapper-vendor-e {

        label {
          line-height: 18px;
          text-align: left;

          span {
            display: inline;
          }
        }
        transform: translate(0, $t);
        -ms-transform: translate(0, $t);
        -moz-transform: translate(0, $t);
        -webkit-transform: translate(0, $t);
      }
      #wrapper-vendor-g {
        transform: translate(0, -$t);
        -ms-transform: translate(0, -$t);
        -moz-transform: translate(0, -$t);
        -webkit-transform: translate(0, -$t);
      }
    }

    .inputWrapper {
      margin: 24px 0;

      label span {
        display: none;
      }

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }

  .group {
    position: relative;
    margin-top: 112px;
    width: 97%;
    background-color: $gray;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;

    h4 {
      background-color: $green1;
      color: $white;
      font-size: 1.2em;
      font-family: 'Eesti R', sans-serif;
      margin: 0 -2px 45px;
      height: 64px;
      line-height: 64px;

      span {
        font-family: 'Eesti B', sans-serif;
      }
    }

    .inputWrapper {
      margin: 11px 0;
      padding: 0 42px;

      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    .calc-output-wrapper {
      font-family: 'Eesti B', sans-serif;
      margin-top: 36px;
      margin-bottom: 36px;

      input {
        font-size: 1.1em;
        border: none;
        background: none;
        text-align: center;
        color: $green2;
      }
    }

    .calc-savings-wrapper {
      background-color: $gray-bg;
      height: 57px;
      font-family: 'Eesti B', sans-serif;

      label {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
        font-size: 1.2em;
        color: $white;
        float: left;
        width: 400px;
        height: 100%;
        line-height: 57px;
        text-align: left;
        padding: 0 80px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }

      span {
        color: $gray2;
        line-height: 57px;
        height: 100%;
        font-family: 'Eesti R', sans-serif;
      }

      input {
        font-size: 1.2em;
        border: none;
        background: none;
        text-align: center;
        line-height: 57px;
        height: 100%;
        float: right;
        margin-right: 90px;
        width: 150px;
      }
    }
  }

  #wrapper-e {
    background-image: url('../img/bg-energy.png');

    .calc-savings-wrapper {
      label {
        background-color: $green2;
      }

      input {
        color: $green2;
      }
    }
  }

  #wrapper-g {
    background-image: url('../img/bg-gas.png');

    .calc-savings-wrapper {
      label {
        background-color: $blue;
      }

      input {
        color: $blue;
      }
    }
  }

  #wrapper-b {
    background-image: url('../img/bg-led.png');

    .calc-output-wrapper {
      margin: 11px 0;

      &.first {
        margin-top: 36px;
      }

      &.last {
        margin-bottom: 36px;
      }
    }

    .calc-savings-wrapper {
      label {
        background-color: $green3;
      }

      input {
        color: $green3;
      }
    }

    .withspan {
      line-height: 19px;
      text-align: left;
    }
  }

  #wrapper-summary {
    .calc-savings-wrapper {
      label {
        background-color: $green2;
        background-image: url('../img/logo-fortum.png');
        background-size: 30%;
        background-position: 27% center;
        padding: 0 13px;
        font-family: 'Eesti B', sans-serif;

        span {
          color: $white;
          font-size: 1em;
          font-family: 'Eesti B', sans-serif;
        }
      }

      span {
        font-family: 'Eesti B', sans-serif;
      }

      span span {
        color: $green2;
        font-size: 1em;
        font-family: 'Eesti B', sans-serif;
      }

      input {
        color: $green2;
      }
    }
  }

  h6 {
    margin: 116px auto 35px;
    font-size: 1em;
  }

  #wrapper-contact-data {
    position: relative;
    z-index: 10;
    background-color: $green1;
    padding: 24px 0;
    text-align: center;

    input {
      margin: 12px 16px;
      width: 362px;
      color: #555;
      font-size: .8em;
      border: none;
      border-radius: 8px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      height: 36px;
      line-height: 36px;
      padding-left: 15px;
      transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  #wrapper-agree {
    width: 97%;
    background-color: $gray;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-repeat: no-repeat;
    font-size: .8em;
    font-family: 'Eesti R', sans-serif;
    padding-top: 32px;
    padding-bottom: 100px;
    position: relative;

    & > div {
      width: 90%;
      max-width: 754px;
      margin: auto;
      text-align: left;
      position: relative;

      label {
        .radio {
          vertical-align: middle;
          margin: 10px 7px 10px 0;
          width: 18px;
          height: 18px;
          padding: 3px;
        }

        input[type="radio"]:checked + .radio > div,
        input[type="checkbox"]:checked + .radio > div {
          border-radius: 4px;
        }

        div {
          display: inline-block;
          vertical-align: baseline;
        }
      }

      p {
        transition: all .6s ease-in-out;
        -o-transition: all .6s ease-in-out;
        -moz-transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
        max-height: 0;
        overflow: hidden;
        text-align: justify;
        margin-left: 36px;
      }

      .toggleBtn {
        color: $green2;
        position: absolute;
        overflow: hidden;
        height: 19px;
        right: 0;
        top: 12px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid $green2;
        }

        div {
          transition: all .6s ease-in-out;
          -o-transition: all .6s ease-in-out;
          -moz-transition: all .6s ease-in-out;
          -webkit-transition: all .6s ease-in-out;
        }
      }

      &.opened {
        .toggleBtn div {
          transform: translate(0, -19px);
          -ms-transform: translate(0, -19px);
          -moz-transform: translate(0, -19px);
          -webkit-transform: translate(0, -19px);
        }

        p {
          max-height: 200px;
          margin-bottom: 20px;
        }
      }
    }

    .inputWrapper.agent, .inputWrapper.uwagi {
      text-align: center;
      padding-top: 10px !important;
      padding-bottom: 15px !important;

      input, textarea {
        float: none;
        width: 420px;
        font-size: 1em;
        font-family: 'azo_sansmedium', sans-serif;
      }
    }

    #info-wrapper {

      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 1em;
      bottom: 85px;
      font-family: 'azo_sansregular', sans-serif;
      text-align: center;

      & > div {
        position: absolute;
        left: 0;
        right: 0;
        opacity: 0;
        transition: all .6s ease-in-out;
        -o-transition: all .6s ease-in-out;
        -moz-transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;

        &.show {
          opacity: 1;
        }
      }

      .success {
        color: $green1;
        border: none;
      }

      .error {
        color: $red;
        border: none;
      }
    }

    #send-form {
      position: absolute;
      border-radius: 0;
      margin: auto;
      left: 0;
      right: 0;
      width: 262px;
      height: 72px;
      background-color: $red;
      color: $white;
      border: none;
      font-family: 'Eesti B', sans-serif;
      font-size: 1.55em;
      text-transform: uppercase;
      bottom: -36px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      cursor: pointer;
      transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;

      &:hover {
        background-color: $red-h;
      }
    }
  }
}

#response-modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.4);

  &.status200 {
    .modal .success {
      display: block;
    }
    .modal .error {
      display: none;
    }
  }

  &.status500 {
    .modal .success {
      display: none;
    }
    .modal .error {
      display: block;
    }
  }

  .modal {
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 30px #aaa;
    -moz-box-shadow: 0 0 30px #aaa;
    -webkit-box-shadow: 0 0 30px #aaa;
    background-color: $white;
    text-align: center;
    width: 90%;
    max-width: 615px;
    height: 310px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -155px auto 0;

    .error {
      color: $red;
    }

    img {
      width: 156px;
    }

    h4 {
      font-weight: 600;
      margin: 30px 0;
    }

    p {
      margin: 30px 0;
      color: $green2;
    }

    button {
      outline: none;
      border-radius: 0;
      width: 130px;
      height: 50px;
      background-color: $red;
      color: $white;
      border: none;
      font-family: 'Eesti B', sans-serif;
      font-size: .9em;
      text-transform: uppercase;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      cursor: pointer;
      transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;

      &:hover {
        background-color: $red-h;
      }
    }
  }
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.hide2 {
  opacity: 0;
}

.invoice {
  position: relative;
}

#error-list {
  list-style: none;
  margin: 0 auto 25px;
  padding: 10px 0;
  width: 97%;
  border: 2px $red dashed;
  background-color: rgba(230, 233, 235, 0.75);

  li {
    color: $red;
    font-size: .8em;
    font-family: 'Eesti R', sans-serif;
    margin: 5px;
  }
}

.userInput.error {
  line-height: 35px;
  border: 1px solid $red !important;
}

input[type="checkbox"].error + .radio {
  border: 1px solid $red !important;
  padding: 3px;
}

input[type="checkbox"]:checked.error + .radio {
  border: 1px solid $gray2 !important;
  padding: 4px;
}

footer {
  font-family: 'azo_sansregular', sans-serif;
  font-size: .8em;
  color: #958d94;
  margin: 150px auto 40px;
  max-width: 95%;
}

#scroll {
  cursor: pointer;
}

.d {
  display: inline-block;
}

.t {
  display: none;
}

.m {
  display: none;
}

.no-d {
  display: inline-block;
}