@import "normalize";
@import "fonts";
@import "mixins";
@import "colors";

$bg: #f0f4f5;
$gray-stroke: #cccccc;
$gray-bg2: #e6e9eb;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Eesti R', sans-serif;
}

.navbar-brand {
  padding: 5px;

  img {
    height: 70%;
    margin-top: 6px;
  }
}

.btn-primary {
  color: $white;
  background-color: $green1;
  border-color: $green1;

  &:hover, &:active, &:focus, &:visited {
    background-color: $green2;
  }
}


.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  background-color: $green2;
}

label {
  font-weight: normal;
}

.has-error .form-control {
  border-color: $red;

}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
  color: $red;
}

.navbar-default .navbar-nav>li>a {
  color: #777;
  display: inline-block;
}

h1 {
  font-size: 1.4em;
}

.wrapper {
  max-width: 95%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 20px;
  overflow: auto;
}

form .variable-wrapper {
  width: auto;
}

.variable-wrapper {
  overflow: auto;
  border-left: $gray-stroke 1px solid;
  padding: 0 25px 10px 15px;
  margin-top: 20px;
  float: left;
  width: 20%;
  text-align: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  h3 {
    margin-top: 10px;
  }

  h6 {
    color: $gray-stroke;
  }

  a, input[type="submit"] {
    border: none;
    margin: 10px 5px 10px 0;
    padding: 5px 12px;
    line-height: 1.4em;
    color: $white;
    text-decoration: none;
    outline: none;
    display: inline-block;
    @include transition(all .3s ease-in-out);
  }

  a {
    background-color: $green1;

    &:hover {
      background-color: $green2;
    }
  }

  input[type="submit"] {
    background-color: $green1;

    &:hover {
      background-color: $green2;
    }
  }

  table {
    margin: 0;

    &.no-border, &.no-border tr td {
      border: none;
    }

    td.name {
      text-align: right;
      padding-right: 5px;
      min-width: 30px;
    }
  }
}
h3 {
  font-size: 1.1em;
}

table {
  margin: 30px auto;
  border: 1px solid $gray-bg;
  tr {
    line-height: 25px;
    th {
      min-width: 40px;
      padding: 10px;
      font-family: 'azo_sansbold', sans-serif;
      border: 1px solid $gray-bg;
      color: #444;
    }

    td {
      padding: 5px 7px;
      text-align: left;
      border: 1px solid $gray-bg;
      color: #444;
      word-wrap: break-word;

      &.email {
        max-width: 180px;
      }
    }
  }
}

#pagination {
  text-align: center;

  ul.pagination {
    li {
      margin: 2px;
      display: inline-block;

      a, span {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        background-color: $green3;
        @include transition(all .3s ease-in-out);
        color: $white;
        text-decoration: none;
        padding: 0;
        border: none;
        border-radius: 0 !important;
      }

      &.active span {
        background-color: $blue !important;
        color: $white;
      }
      &.disabled span {
        background-color: $gray;
      }
      &:hover a {
        background-color: $yellow;
      }
    }
  }
}

.excel span {
  font-family: 'fontello', sans-serif;
  font-size: 1.4em;
  vertical-align: bottom;
  margin-right: 5px;
}

.username {
  margin: 0 10px;
  color: $green1;
}

.navbar-brand {
  margin-right: 40px;
}

input {
  border: 1px $gray solid;
}

.error {
  border: 1px solid $red;
}

.error-msg {
  display: inline-block;
  opacity: 0;
  background-color: $red;
  color: $white;
  padding: 5px 10px;
  margin-top: 10px;
  @include transition(all .3s ease-in-out);

  &.show {
    display: inline-block !important;
    opacity: 1;
  }
}