$size_a: 30px;
$size_b: 60px;
$size_c: 30px;
$top: -5px;
$time: 2s;
$ease: ease-in-out;

@-webkit-keyframes uil-fortum-anim1 {
  0% {
    left: 0;
  }
  50% {
    left: $size_a;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes uil-fortum-anim1 {
  0% {
    left: 0;
  }
  50% {
    left: $size_a;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes uil-fortum-anim1 {
  0% {
    left: 0;
  }
  50% {
    left: $size_a;
  }
  100% {
    left: 0;
  }
}
@-ms-keyframes uil-fortum-anim1 {
  0% {
    left: 0;
  }
  50% {
    left: $size_a;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes uil-fortum-anim1 {
  0% {
    left: 0;
  }
  50% {
    left: $size_a;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes uil-fortum-anim1 {
  0% {
    left: 0;
  }
  50% {
    left: 100px;
  }
  100% {
    left: 0;
  }
}
@-o-keyframes uil-fortum-anim1 {
  0% {
    left: 0;
  }
  50% {
    left: $size_a;
  }
  100% {
    left: 0;
  }
}
@keyframes uil-fortum-anim1 {
  0% {
    left: 0;
  }
  50% {
    left: $size_a;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes uil-fortum-anim2 {
  0% {
    left: $size_a;
    z-index: 1;
  }
  49% {
    z-index: 1;
  }
  50% {
    left: 0;
    z-index: 10;
  }
  100% {
    left: $size_a;
    z-index: 10;
  }
}
@-webkit-keyframes uil-fortum-anim2 {
  0% {
    left: $size_a;
    z-index: 1;
  }
  49% {
    z-index: 1;
  }
  50% {
    left: 0;
    z-index: 10;
  }
  100% {
    left: $size_a;
    z-index: 10;
  }
}
@-moz-keyframes uil-fortum-anim2 {
  0% {
    left: $size_a;
    z-index: 1;
  }
  49% {
    z-index: 1;
  }
  50% {
    left: 0;
    z-index: 10;
  }
  100% {
    left: $size_a;
    z-index: 10;
  }
}
@-ms-keyframes uil-fortum-anim2 {
  0% {
    left: $size_a;
    z-index: 1;
  }
  49% {
    z-index: 1;
  }
  50% {
    left: 0;
    z-index: 10;
  }
  100% {
    left: $size_a;
    z-index: 10;
  }
}
@-moz-keyframes uil-fortum-anim2 {
  0% {
    left: $size_a;
    z-index: 1;
  }
  49% {
    z-index: 1;
  }
  50% {
    left: 0;
    z-index: 10;
  }
  100% {
    left: $size_a;
    z-index: 10;
  }
}
@-webkit-keyframes uil-fortum-anim2 {
  0% {
    left: 100px;
    z-index: 1;
  }
  49% {
    z-index: 1;
  }
  50% {
    left: 0;
    z-index: 10;
  }
  100% {
    left: $size_a;
    z-index: 10;
  }
}
@-o-keyframes uil-fortum-anim2 {
  0% {
    left: $size_a;
    z-index: 1;
  }
  49% {
    z-index: 1;
  }
  50% {
    left: 0;
    z-index: 10;
  }
  100% {
    left: $size_a;
    z-index: 10;
  }
}
@keyframes uil-fortum-anim2 {
  0% {
    left: $size_a;
    z-index: 1;
  }
  49% {
    z-index: 1;
  }
  50% {
    left: 0;
    z-index: 10;
  }
  100% {
    left: $size_a;
    z-index: 10;
  }
}
.uil-fortum-css {
  left: 0;
  right: 0;
  margin: auto;
  top: $top;
  background: none;
  position: relative;
  width: $size_b;
  height: $size_c;

  & > div {
    width: $size_a;
    height: $size_a;
    border-radius: 50%;
    position: absolute;
  }
  & > div:nth-of-type(1) {
    left: 0;
    background: #377a6c;
    z-index: 5;
    -ms-animation: uil-fortum-anim1 $time $ease infinite;
    -moz-animation: uil-fortum-anim1 $time $ease infinite;
    -webkit-animation: uil-fortum-anim1 $time $ease infinite;
    -o-animation: uil-fortum-anim1 $time $ease infinite;
    animation: uil-fortum-anim1 $time $ease infinite;
  }
  & > div:nth-of-type(2) {
    left: $size_a;
    background: #5ac37d;
    -ms-animation: uil-fortum-anim2 $time $ease infinite;
    -moz-animation: uil-fortum-anim2 $time $ease infinite;
    -webkit-animation: uil-fortum-anim2 $time $ease infinite;
    -o-animation: uil-fortum-anim2 $time $ease infinite;
    animation: uil-fortum-anim2 $time $ease infinite;
  }
}
