@import "mixins";
@import "normalize";
@import "fonts";
@import "colors";

$btn-primary-bg: $gray;
$btn-primary-color: $green1;
$border-radius-base: 0;
$gray-lighter: $gray-bg;
$gray-light: $gray2;

$screen-sm-min: 320px;
$screen-md-min: 600px;
$screen-lg-min: 1060px;

@import "datetimepicker";
@import "page_style";

