@media screen and (max-width: 1280px) {
  html body {
    padding: 100px 30px 0;
  }
}

@media screen and (max-width: 1080px) {

  .wrapper {
    width: 90%;
  }

  #form-fortum {

    #wrapper-vendor-e {

      label {
        max-width: 310px;
      }
    }

    .group {
      margin-top: 70px;

      .calc-savings-wrapper {
        height: 45px;

        label {
          width: 350px;
          height: 100%;
          line-height: 45px;
          padding: 0 40px;
        }

        span {
          line-height: 45px;
          font-size: .8em;
        }

        input {
          margin-right: 30px;
        }

      }
    }

    #wrapper-summary .calc-savings-wrapper label {
      background-position: 50% center;
    }

    h6 {
      margin-top: 70px;
    }
  }

  .d {
    display: none;
  }
  .t {
    display: inline-block;
  }
  .no-d {
    display: none;
  }
}

@media screen and (max-width: 1100px) {

  header.header {
    .intro {
      position: relative;
      bottom: 0;
      display: block;
      margin: 21% 0 0 30%;
      width: 460px;
    }

    .start {
      width: 405px;
      margin: 0 0 0 30%;

      .start-btn2 {
        margin: auto;
        width: 90px;
        margin-left: 315px;
      }

      h3 {
        left: 0;
        background-color: #5ac37d;
        color: #fff;
      }
    }
  }

  #form-fortum {
    margin-top: 50px;
  }
}

@media screen and (max-width: 800px) {
  html body {
    font-size: 16px;
    padding: 100px 15px 0;
  }
  header.header {
    .logo {
      margin: 0 auto 290px;
    }

    .intro {
      padding-top: 0;
      margin-left: 10%;
    }

    .start {
      margin-left: 10%;
    }

    #b3, #b4 {
      display: none;
    }
  }

  #form-fortum {
    margin-top: 20px;

    .inputWrapper {
      select,
      input[type="text"] {
        width: 200px;
      }
    }

    #wrapper-vendor {
      padding: 20px 30px;

      &.collapsed {
        max-height: 130px;
      }

      &.trans {
        #wrapper-vendor-e {
          label {
            max-width: 245px;
          }
        }
      }
    }

    .group {

      .inputWrapper {
        padding: 0 20px;
      }

      .calc-savings-wrapper {

        & > span {
          display: none;
        }

        input {
          width: 120px;
          margin-right: 15px;
        }
      }
    }

    #wrapper-agree > div {
      .title {
        width: calc(100% - 110px);
        vertical-align: middle;
      }

      .toggleBtn {
        top: 14px;

        div span {
          display: none;
        }
      }
    }
  }

  #step2,
  #step3 {
    display: none;
  }

  footer {
    padding: 60px 0 30px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  html body {
    font-size: 14px;
    padding-top: 80px;
  }

  header.header {
    .logo {
      margin: 0 auto 250px;
      width: 130px;
      padding: 15px 30px;
      top: -60px;
    }

    .wrap {
      width: 190px;

      h1 {
        padding: 15px 40px;
        font-size: 2em;
      }
    }

    .intro {
      width: 80%;

      h2 {
        padding: 20px;
        width: 100%;
      }
    }

    .start {
      height: 60px;
      width: 280px;

      h3 {
        width: 220px;
        line-height: 60px;
        height: 60px;
        font-size: 1.5em;
      }

      .start-btn2 {
        width: 60px;
        margin-left: 220px;
      }
    }

    #b1, #b2 {
      display: none;
    }
  }

  #form-fortum {

    #wrapper-product > div {
      width: 30%;
    }

    $t2: 100px;

    #wrapper-vendor {
      padding: 1px 0 20px;

      .inputWrapper {
        width: 90%;
        margin: 24px auto;

        & > * {
          text-align: center;
          display: block;
          float: none;
          margin: auto;
        }
      }

      #wrapper-vendor-e {
        height: auto;
      }

      &.collapsed {
        max-height: 140px;
      }

      &.trans {
        #wrapper-vendor-e {
          label {
            text-align: center;
            max-width: none;
          }
          transform: translate(0, $t2);
          -ms-transform: translate(0, $t2);
          -moz-transform: translate(0, $t2);
          -webkit-transform: translate(0, $t2);
        }
        #wrapper-vendor-g {
          transform: translate(0, -$t2);
          -ms-transform: translate(0, -$t2);
          -moz-transform: translate(0, -$t2);
          -webkit-transform: translate(0, -$t2);
        }
      }
    }

    .group {
      .calc-savings-wrapper {
        label {
          padding: 0 20px;
          width: 260px;
        }
      }
    }

    #wrapper-agree {
      & > div {
        .toggleBtn {
          height: 14px;
        }

        &.opened {
          .toggleBtn div {
            transform: translate(0, -14px);
            -ms-transform: translate(0, -14px);
            -moz-transform: translate(0, -14px);
            -webkit-transform: translate(0, -14px);
          }
        }
      }

      .inputWrapper.agent, .inputWrapper.uwagi {
        input, textarea {
          width: 100%;
        }
      }
    }
  }

  .t {
    display: none;
  }

  .m {
    display: block;
  }

  .no-m {
    display: none;
  }
}

@media screen and (max-width: 480px) {

  header.header {
    .logo {
      left: 0;
      right: initial;
    }

    .wrap {
      padding-top: 146px;
      height: 102px;
      width: 248px;
      margin-right: 0;

      h1 {
        width: 100%;
        box-sizing: border-box;
      }
    }

    .intro {
      margin-top: 0;
    }
  }

  #form-fortum {
    margin-top: 50px;

    .inputWrapper {
      width: 90%;
      margin-left: auto !important;
      margin-right: auto !important;
      padding: 0 !important;

      & > label,
      & > select,
      & > input[type="text"] {
        display: block;
        float: none;
        margin: auto;
      }
    }

    .icon {
      margin: 20px auto 15px;
    }

    #wrapper-calc-type > div {
      width: 45%;
      padding-bottom: 10px;
      vertical-align: top;

      label {
        span {
          min-height: 60px;
          display: inline-block;
        }
      }
    }

    #wrapper-product > div {
      padding-bottom: 10px;

      label .icon {
        width: 50%;

        &.eg {
          width: 90%;
        }
      }
    }

    .group, #wrapper-summary {
      margin-top: 40px;
      h4 {
        margin-bottom: 10px;
      }
      .calc-savings-wrapper {
        position: relative;

        label {
          padding: 0 8px;
          width: 200px;
        }
        input {
          position: absolute;
          right: 0;
          text-align: right;
        }
      }
    }

    #wrapper-b {
      .withspan {
        text-align: center;
      }
    }

    #wrapper-summary {
      .calc-savings-wrapper {
        label {
          padding: 0 8px;
          width: 200px;
        }
      }
    }

    #wrapper-contact-data input {
      margin: 12px auto;
      width: 90%;
    }

    #wrapper-agree {

      #send-form {
        width: 220px;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  html body {
    #page-wrapper {

      .intro {
        margin-left: 0;
        width: 90%;
      }

      .start {
        width: 240px;
        margin-left: 0;

        h3 {
          width: 180px;
          font-size: 1.3em;
        }

        .start-btn2 {
          margin-left: 180px;
        }
      }
    }

    #form-fortum {
      .group, #wrapper-summary {
        .calc-savings-wrapper {
          label {
            padding: 0 8px;
            width: 150px;
            background-image: none;
          }
        }
      }
    }
  }
}
